<%- include('header') %>

  <hr class="hr-to-paragraph" />

  <div
    class="container"
    style="display: flex; justify-content: center; align-items: center"
  >
    <form
      style="
        display: flex;
        background-color: white;
        gap: 50px;
        padding: 50px;
        border-radius: 10px;
        width: calc(100vw - 100px);
      "
    >
      <div style="display: flex">
        <img
          src="<%= item.image_url %>"
          alt="flower"
          style="width: 400px; height: 400px; object-fit: cover;"
        />
      </div>

      <div
        style="
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          flex: 2;
        "
      >
        <div>
          <h5><%= item.name %></h5>
          <p><%= item.description %></p>
        </div>
        <div
          style="
            display: flex;
            justify-content: space-between;
            justify-self: flex-end;
            gap: 100px;
          "
        >
          <h5>Price: <div name="price"><%= item.price %>$</div></h5>
          <a href="/user/cart/add/<%= item.id %>?price=<%= item.price %>">
              <i class="fa-solid fa-cart-shopping" style="color: #FF8F52"></i>
          </a>
          
        </div>
      </div>
    </form>
  </div>

  <br />
</body>

<%- include('footer') %>