<%- include('header') %> <%- include('navbar') %>

<body>
  <div
    style="
      max-width: calc(100vw * 0.8);
      padding: 2rem;
      margin: 0 auto;
      display: flex;
    "
  >
    <img
      src="<%= detail.image_url %>"
      alt=""
      style="
        width: calc(100vw * 0.3);
        object-fit: cover;
        object-position: center center;
        border-radius: 50;
      "
    />

    <div>
      <form
        action="/product/update/<%= detail.id %>"
        method="POST"
        style="
          max-width: 50rem;
          margin: 0 auto;
          padding: 2rem;
          border-radius: 0.5rem;
          background: var(--bg-color);
        "
      >
        <h3
          style="
            text-transform: uppercase;
            color: var(--black);
            margin-bottom: 1rem;
            text-align: center;
          "
        >
          Update Product
        </h3>
        <input
          type="text"
          placeholder="<%= detail.name %>"
          name="productName"
          class="box"
          style="
            width: 100%;
            border-radius: 0.5rem;
            padding: 1.2rem 1.5rem;
            font-size: 1.7rem;
            margin: 1rem 0;
          "
        />

        <input
          type="text"
          placeholder="<%= detail.price %>"
          name="productPrice"
          class="box"
          style="
            width: 100%;
            border-radius: 0.5rem;
            padding: 1.2rem 1.5rem;
            font-size: 1.7rem;
            margin: 1rem 0;
          "
        />
        <input
          type="text"
          placeholder="<%= detail.description.length > 30 ? detail.description.slice(0, 30) + '...' : detail.description %>"
          name="productDescription"
          class="box"
          style="
            width: 100%;
            border-radius: 0.5rem;
            padding: 1.2rem 1.5rem;
            font-size: 1.7rem;
            margin: 1rem 0;
          "
        />
        <input
          type="text"
          placeholder="<%= detail.color %>"
          name="productColor"
          class="box"
          style="
            width: 100%;
            border-radius: 0.5rem;
            padding: 1.2rem 1.5rem;
            font-size: 1.7rem;
            margin: 1rem 0;
          "
        />

        <div style="display: flex; justify-content: space-between;">
          <h3>Availability: <%= detail.available ? 'On stock' : 'Out of stock' %></h3>

          <select name="productAvailable">
            <option value="True"><h3>True</h3></option>
            <option value="False"><h3>False</h3></option>
          </select>
        </div>

        <input
          type="file"
          accept="image/*"
          name="productImage"
          id="productImage"
          class="box"
          style="
            width: 100%;
            border-radius: 0.5rem;
            padding: 1.2rem 1.5rem;
            font-size: 1.7rem;
            margin: 1rem 0;
          "
        />

        <input type="hidden" name="dataUrl" id="dataUrl">

        <input
          type="submit"
          class="btn-update"
          name="update_product"
          value="Update product"
          style="
            display: block;
            width: 100%;
            cursor: pointer;
            border-radius: 0.5rem;
            margin-top: 1rem;
            font-size: 1.7rem;
            padding: 1rem 3rem;
            background: blue;
            color: var(--white);
          "
        />
      </form>
    </div>
  </div>
</body>

<script>
  const file = document.getElementById('productImage');
  const inputFile = document.getElementById('dataUrl');

  file.addEventListener('change', (e) => {
    const file = e.target.files[0];
      const reader = new FileReader();
      const url = reader.readAsDataURL(file);
      reader.onload = () => {
        inputFile.value = reader.result;
      };
  });
</script>

<%- include('footer') %>
